/* HTML elements */
body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}

/* Heading */
.product-definition {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}



h3 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.5rem;
}

h4 {
  font-size: 18px;
  font-weight: normal;
  text-shadow: 2px 2px #ff0000;
}


#title {
  background-color: #ff4c68;
  color: white;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.nav-link {
  margin: 0 10px;
}

#title-download {
  margin: 2rem 0;
}

/* Navigation Bar */
.navbar {
  margin-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0%;
}

/* Title Image */

.title-image {
  width: 35%;
  position: absolute;
  right: 10%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  width: 85%;
  margin: 0 auto;
}

/* Row Feature */

#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

.center-col {
  text-align: center;
  padding: 5%;
}

.feature-icon {
  font-size: 4rem;
  margin: 1rem 0;
  color: #ef8172;
}

.feature-icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
.pricing-column {
 text-align: center;
 padding: 3% 2%;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.card-header {
  padding: 0;
  margin: 0;
  border-radius: 25px;
}

.card-heading {
  color: #fff;
  background-color: #ff4c68;
  padding: 4% 15%;
  margin: 0;

}

.pricing-heading {
  color: #ff4c68;
}

.pricing-button {
  background-color: #ff4c68;
  border-width: 0;
}

.pricing-outline-button {
  border-color: #ff4c68;
  border-width: 2px;
}

.pricing-outline-button:hover {
  background-color: #ff4c68;
  border-width: 0;
}

/* Call To Action */
#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
}

.cta-heading {
  color: white;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.7;
  margin-bottom: 5%;
}

/* Footer */
#footer {
  background-color: #fff;
  text-align: center;
  padding: 8%;
}

.copyright-element {
  margin: 2% 0;
}


/* media query */

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    width: 80%;
    margin: 10% 0;
  }
}
